@font-face {
    font-family: IRANYekan;
    src: url(/Font/IRANYekanRegularFaNum.ttf);
}
@font-face {
    font-family: IRANYekanBold;
    src: url(/Font/IRANYekanBoldFaNum.ttf);
}

:root {
    --reg: IRANYekan;
    --bold: IRANYekanBold;
    --primaryColor: #ef4123;
}

body {
    background-color: #fbfbfb;
    font-family: var(--reg) !important;
    position: relative;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}

input {
    font-family: var(--reg);
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

input:focus-visible {
    outline: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.checkoutBox {
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
}

.checkoutTitle {
    display: flex;
    align-items: center;
    width: max-content;
    min-width: 30%;
    height: max-content;
}

.checkoutTitle span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoutTitle span:first-child {
    font-size: 22px;
    margin-left: 7px;
}

.checkoutTitle span:last-child {
    font-family: var(--bold);
    font-size: 14px;
    margin-right: 5px;
}

.checkoutContent {
    width: 69%;
}

.btn {
    font-family: var(--reg);
    background: var(--primaryColor);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btnOutline {
    font-family: var(--reg);
    background: #fff;
    color: var(--primaryColor);
    padding: 4px 9px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: 1px solid var(--primaryColor);
}

.leaflet-container {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-zoom {
    border: none !important;
}

.leaflet-control-zoom-in {
    color: var(--primaryColor) !important;
    border-radius: 5px !important;
    border: none;
    font-size: 30px !important;
    font-weight: var(--bold) !important;
    margin-bottom: 3px;
}

.leaflet-control-zoom-out {
    color: var(--primaryColor) !important;
    border-radius: 5px !important;
    border: none;
    font-size: 30px !important;
    font-weight: var(--bold) !important;
}

.leaflet-routing-container {
    display: none !important;
}

.ant-result {
    font-family: var(--reg) !important;
}

.ant-result-title {
    font-size: 28px !important;
}

.dashboardLayout {
    display: flex;
    justify-content: space-between;
}

.dashboardLayout > div:first-child {
    width: 20%;
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d6d6d6;
    height: max-content;
    box-sizing: border-box;
}

.dashboardLayout > div:last-child {
    width: 77%;
    background: #fff;
    margin: 20px 0;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d6d6d6;
    box-sizing: border-box;
    height: max-content;
}

.delete {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 30px;
    height: 30px;
    background: #d03434;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.status {
    padding: 5px 10px;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 13px;
}

.success {
    background: #e0f8d9;
    color: #248507;
}

.pending {
    background: rgb(250, 248, 244);
    color: orange;
}

.paid{
    background: #e0f8d9;
    color: #248507;
}

.declined{
    background-color: #b80303;
    color : white;
}

.needEdit{
    background: rgb(232, 91, 4);
    color: rgb(239, 236, 236);
}

.waiting{
    background: rgb(250, 248, 244);
    color: orange;
}

.tableBtns {
    padding: 10px 0;
}

.tableBtns button {
    margin-left: 5px;
    font-size: 12px !important;
}

.header {
    border-bottom: 1px solid #eee;
    margin-bottom: 19px;
    padding-bottom: 10px;
}

.loading {
    text-align: center;
    margin: 30px 0;
}

.loginInput input {
    background: #eee;
    font-family: var(--bold);
    border: none;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    text-align: center;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, var(--primaryColor));
    border-radius: 6px;
}
